.card {
    cursor: pointer;
    transition: ease 300ms all;

    .badge {
        position: absolute;
        right: 0;
        margin: 15px;
    }

    img {
        height: 250px;
        object-fit: cover;
    }

    &-body {
        display: grid;
        gap: 4px;
    }

}

.card:hover {
    scale: 1.05;
}